#tabla{
margin:auto;
}
input{
color:white;
text-align:center;
height:200px;
width:200px;
font-size:20px;
border-radius:15px;
border:none;
}
#Ej1{
background-color:#b425c1;
}
#Ej2{
background-color:#8fe856;
}